body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vh;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 11, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.head_title {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #cacaca;
  height: 10vh;
}
/* CALENDAR */
.calendar {
  display: flex;
  flex-direction: column;
  height: 30vh;
  border-bottom: 2px solid #cacaca;
}

.calendar_month_week_label {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.calendar_month_week_label_name {
  display: flex;
  justify-content: center;
}

.calendar_day_name {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.calendar_day_cell {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar_day_cell {
}

.calendar_dot_marked {
  padding-top: 10px;
  padding-bottom: 10px;
}

.todd-list-section {
  display: flex;
  height: 60vh;
  border-bottom: 2px solid #cacaca;
}

.button-list-section {
  display: flex;
  height: 10vh;
}
